<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/style.css""> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body style="background-image: url('../assets/gasehat.jpg'); background-repeat:no-repeat; background-attachment:fixed; background-position:center; background-size:cover;">
    <div class="hugoa">
        <div class="container">
            <h1 style="color:white; font-family:Roboto Condensed">R E G I S T E R</h1>
            <div class="form-control">
              <form action="/register" method="post">
                <input type="value" required="" name="user" id="user">
                <label>
                    <span style="transition-delay:0ms; font-family:Varela">U</span><span style="transition-delay:50ms; font-family:Varela">s</span><span style="transition-delay:100ms; font-family:Varela">e</span><span style="transition-delay:150ms; font-family:Varela">r</span><span style="transition-delay:200ms; font-family:Varela">n</span><span style="transition-delay:250ms; font-family:Varela">a</span><span style="transition-delay:300ms; font-family:Varela">m</span><span style="transition-delay:350ms; font-family:Varela">e</span>
                </label>
            </div> 
        
                <div class="form-control">
                    <input type="password" required="" name="pass" id="pass">
                    <label>
                        <span style="transition-delay:0ms; font-family:Varela">P</span><span style="transition-delay:50ms; font-family:Varela">a</span><span style="transition-delay:100ms; font-family:Varela">s</span><span style="transition-delay:150ms; font-family:Varela">s</span><span style="transition-delay:200ms; font-family:Varela">w</span><span style="transition-delay:250ms; font-family:Varela">o</span><span style="transition-delay:300ms; font-family:Varela">r</span><span style="transition-delay:350ms; font-family:Varela">d</span>
                    </label>
                </div> 
        
            <button class="animated-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
                <span class="text">C R E A T E</span>
                <span class="circle"></span>
                <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
                  <path
                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                  ></path>
                </svg>
              </button>
            <h5 style="font-family:Roboto Condensed; color:#fff">Already have an account? <a href="/" style="color:white; font-weight:bolder; text-underline-offset:5px;">Login</a></h5>
              </form>
                
        </div>
    </div>
      
</body>

</html>